In [85]:
import numpy as np
import pandas as pd
df=pd.read_csv('lung_cancer_examples.csv')
df

           Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0          John         Wick   35       3      5       4       1
1          John  Constantine   27      20      2       5       1
2        Camela     Anderson   30       0      5       2       0
3          Alex       Telles   28       0      8       1       0
4         Diego     Maradona   68       4      5       6       1
5     Cristiano      Ronaldo   34       0     10       0       0
6        Mihail          Tal   58      15     10       0       0
7         Kathy        Bates   22      12      5       2       0
8        Nicole       Kidman   45       2      6       0       0
9           Ray      Milland   52      18      4       5       1
10      Fredric        March   33       4      8       0       0
11          Yul      Brynner   18      10      6       3       0
12         Joan     Crawford   25       2      5       1       0
13         Jane        Wyman   28      20      2       8       1
14         Anna      Magnani   34      25      4       8       1
15   Katharine       Hepburn   39      18      8       1       0
16   Katharine       Hepburn   42      22      3       5       1
17       Barbra    Streisand   19      12      8       0       0
18      Maggie         Smith   62       5      4       3       1
19      Glenda       Jackson   73      10      7       6       1
20        Jane         Fonda   55      15      1       3       1
21  Maximilian        Schell   33       8      8       1       0
22     Gregory          Peck   22      20      6       2       0
23      Sidney       Poitier   44       5      8       1       0
24         Rex      Harrison   77       3      2       6       1
25         Lee        Marvin   21      20      5       3       0
26        Paul      Scofield   37      15      6       2       0
27         Rod       Steiger   34      12      8       0       0
28        John         Wayne   55      20      1       4       1
29        Gene       Hackman   40      20      2       7       1
30      Marlon        Brando   36      13      5       2       0
31        Jack        Lemmon   56      20      3       3       1
32        Jack     Nicholson   47      15      1       8       1
33       Peter        Finch    62      25      3       4       1
34     Richard      Dreyfuss   26      10      7       2       0
35      Dustin       Hoffman   25      20      8       2       0
36       Henry        Henry    59      20      3       4       1
37      Robert        Duvall   62      15      5       5       1
38       Ellen       Burstyn   33      25      8       2       0
39        Faye       Dunaway   37      10      5       3       0
40       Diane        Keaton   50      20      2       4       1
41        Jane         Fonda   47      12      8       0       0
42       Sally         Field   69      20      5       4       1
43       Sissy        Spacek   63      20      4       5       1
44     Jessica         Lange   39      15      7       2       0
45     Gwyneth       Paltrow   21      20      8       3       0
46       Halle         Berry   31      20      9       4       0
47      Nicole        Kidman   28      10      4       1       0
48    Charlize        Theron   53      20      6       3       1
49   Katharine       Hepburn   62      20      5       6       1
50   Katharine       Hepburn   42      12      6       2       0
51      Barbra     Streisand   44      30      1       6       1
52      Maggie         Smith   26      34      1       8       1
53      Glenda       Jackson   35      20      5       1       0
54      Ernest      Borgnine   26      13      6       1       0
55        Alec      Guinness   77      20      5       4       1
56    Charlton        Heston   75      15      3       5       1
57     Gregory          Peck   43      30      3       8       1
58      Sidney       Poitier   51      25      9       0       0

In [86]:
df.head()

     Name      Surname  Age  Smokes  AreaQ  Alkhol  Result
0    John         Wick   35       3      5       4       1
1    John  Constantine   27      20      2       5       1
2  Camela     Anderson   30       0      5       2       0
3    Alex       Telles   28       0      8       1       0
4   Diego     Maradona   68       4      5       6       1

In [87]:
df.tail()

         Name   Surname  Age  Smokes  AreaQ  Alkhol  Result
54    Ernest   Borgnine   26      13      6       1       0
55      Alec   Guinness   77      20      5       4       1
56  Charlton     Heston   75      15      3       5       1
57   Gregory       Peck   43      30      3       8       1
58    Sidney    Poitier   51      25      9       0       0

In [88]:
df.shape

(59, 7)

In [89]:
df.drop(['Name','Surname'],axis=1,inplace=True)
df

    Age  Smokes  AreaQ  Alkhol  Result
0    35       3      5       4       1
1    27      20      2       5       1
2    30       0      5       2       0
3    28       0      8       1       0
4    68       4      5       6       1
5    34       0     10       0       0
6    58      15     10       0       0
7    22      12      5       2       0
8    45       2      6       0       0
9    52      18      4       5       1
10   33       4      8       0       0
11   18      10      6       3       0
12   25       2      5       1       0
13   28      20      2       8       1
14   34      25      4       8       1
15   39      18      8       1       0
16   42      22      3       5       1
17   19      12      8       0       0
18   62       5      4       3       1
19   73      10      7       6       1
20   55      15      1       3       1
21   33       8      8       1       0
22   22      20      6       2       0
23   44       5      8       1       0
24   77       3      2       6       1
25   21      20      5       3       0
26   37      15      6       2       0
27   34      12      8       0       0
28   55      20      1       4       1
29   40      20      2       7       1
30   36      13      5       2       0
31   56      20      3       3       1
32   47      15      1       8       1
33   62      25      3       4       1
34   26      10      7       2       0
35   25      20      8       2       0
36   59      20      3       4       1
37   62      15      5       5       1
38   33      25      8       2       0
39   37      10      5       3       0
40   50      20      2       4       1
41   47      12      8       0       0
42   69      20      5       4       1
43   63      20      4       5       1
44   39      15      7       2       0
45   21      20      8       3       0
46   31      20      9       4       0
47   28      10      4       1       0
48   53      20      6       3       1
49   62      20      5       6       1
50   42      12      6       2       0
51   44      30      1       6       1
52   26      34      1       8       1
53   35      20      5       1       0
54   26      13      6       1       0
55   77      20      5       4       1
56   75      15      3       5       1
57   43      30      3       8       1
58   51      25      9       0       0

In [90]:
x=df.iloc[:,:-1].values
x

array([[35,  3,  5,  4],
       [27, 20,  2,  5],
       [30,  0,  5,  2],
       [28,  0,  8,  1],
       [68,  4,  5,  6],
       [34,  0, 10,  0],
       [58, 15, 10,  0],
       [22, 12,  5,  2],
       [45,  2,  6,  0],
       [52, 18,  4,  5],
       [33,  4,  8,  0],
       [18, 10,  6,  3],
       [25,  2,  5,  1],
       [28, 20,  2,  8],
       [34, 25,  4,  8],
       [39, 18,  8,  1],
       [42, 22,  3,  5],
       [19, 12,  8,  0],
       [62,  5,  4,  3],
       [73, 10,  7,  6],
       [55, 15,  1,  3],
       [33,  8,  8,  1],
       [22, 20,  6,  2],
       [44,  5,  8,  1],
       [77,  3,  2,  6],
       [21, 20,  5,  3],
       [37, 15,  6,  2],
       [34, 12,  8,  0],
       [55, 20,  1,  4],
       [40, 20,  2,  7],
       [36, 13,  5,  2],
       [56, 20,  3,  3],
       [47, 15,  1,  8],
       [62, 25,  3,  4],
       [26, 10,  7,  2],
       [25, 20,  8,  2],
       [59, 20,  3,  4],
       [62, 15,  5,  5],
       [33, 25,  8,  2],
       [37, 10,  5,  3],
       [50, 20,  2,  4],
       [47, 12,  8,  0],
       [69, 20,  5,  4],
       [63, 20,  4,  5],
       [39, 15,  7,  2],
       [21, 20,  8,  3],
       [31, 20,  9,  4],
       [28, 10,  4,  1],
       [53, 20,  6,  3],
       [62, 20,  5,  6],
       [42, 12,  6,  2],
       [44, 30,  1,  6],
       [26, 34,  1,  8],
       [35, 20,  5,  1],
       [26, 13,  6,  1],
       [77, 20,  5,  4],
       [75, 15,  3,  5],
       [43, 30,  3,  8],
       [51, 25,  9,  0]])

In [91]:
y=df.iloc[:,-1].values
y

array([1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0])

In [92]:
df.isna().sum()

Age       0
Smokes    0
AreaQ     0
Alkhol    0
Result    0
dtype: int64

In [93]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=1)
x_train

array([[77, 20,  5,  4],
       [36, 13,  5,  2],
       [47, 12,  8,  0],
       [53, 20,  6,  3],
       [34, 12,  8,  0],
       [31, 20,  9,  4],
       [43, 30,  3,  8],
       [56, 20,  3,  3],
       [28, 20,  2,  8],
       [22, 20,  6,  2],
       [42, 12,  6,  2],
       [47, 15,  1,  8],
       [19, 12,  8,  0],
       [26, 13,  6,  1],
       [62, 25,  3,  4],
       [44,  5,  8,  1],
       [68,  4,  5,  6],
       [34, 25,  4,  8],
       [40, 20,  2,  7],
       [55, 20,  1,  4],
       [35, 20,  5,  1],
       [69, 20,  5,  4],
       [62,  5,  4,  3],
       [51, 25,  9,  0],
       [55, 15,  1,  3],
       [21, 20,  5,  3],
       [58, 15, 10,  0],
       [21, 20,  8,  3],
       [22, 12,  5,  2],
       [75, 15,  3,  5],
       [27, 20,  2,  5],
       [42, 22,  3,  5],
       [35,  3,  5,  4],
       [39, 18,  8,  1],
       [34,  0, 10,  0],
       [18, 10,  6,  3],
       [52, 18,  4,  5],
       [45,  2,  6,  0],
       [25,  2,  5,  1],
       [63, 20,  4,  5],
       [62, 15,  5,  5]])

In [94]:
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()
scalar.fit(x_train)
x_train=scalar.transform(x_train)
x_test=scalar.transform(x_test)
x_train

array([[ 2.09039124,  0.63995837, -0.07059551,  0.31279639],
       [-0.45226265, -0.35284191, -0.07059551, -0.51460051],
       [ 0.22991278, -0.49467052,  1.16986852, -1.34199741],
       [ 0.60200847,  0.63995837,  0.3428925 , -0.10090206],
       [-0.57629454, -0.49467052,  1.16986852, -1.34199741],
       [-0.76234239,  0.63995837,  1.58335653,  0.31279639],
       [-0.01815101,  2.05824449, -0.89757154,  1.96759018],
       [ 0.78805632,  0.63995837, -0.89757154, -0.10090206],
       [-0.94839023,  0.63995837, -1.31105955,  1.96759018],
       [-1.32048593,  0.63995837,  0.3428925 , -0.51460051],
       [-0.08016696, -0.49467052,  0.3428925 , -0.51460051],
       [ 0.22991278, -0.06918469, -1.72454756,  1.96759018],
       [-1.50653377, -0.49467052,  1.16986852, -1.34199741],
       [-1.07242213, -0.35284191,  0.3428925 , -0.92829896],
       [ 1.16015201,  1.34910143, -0.89757154,  0.31279639],
       [ 0.04386494, -1.48747081,  1.16986852, -0.92829896],
       [ 1.5322477 , -1.62929942, -0.07059551,  1.14019328],
       [-0.57629454,  1.34910143, -0.48408353,  1.96759018],
       [-0.20419885,  0.63995837, -1.31105955,  1.55389173],
       [ 0.72604037,  0.63995837, -1.72454756,  0.31279639],
       [-0.5142786 ,  0.63995837, -0.07059551, -0.92829896],
       [ 1.59426365,  0.63995837, -0.07059551,  0.31279639],
       [ 1.16015201, -1.48747081, -0.48408353, -0.10090206],
       [ 0.47797658,  1.34910143,  1.58335653, -1.34199741],
       [ 0.72604037, -0.06918469, -1.72454756, -0.10090206],
       [-1.38250187,  0.63995837, -0.07059551, -0.10090206],
       [ 0.91208822, -0.06918469,  1.99684454, -1.34199741],
       [-1.38250187,  0.63995837,  1.16986852, -0.10090206],
       [-1.32048593, -0.49467052, -0.07059551, -0.51460051],
       [ 1.96635934, -0.06918469, -0.89757154,  0.72649484],
       [-1.01040618,  0.63995837, -1.31105955,  0.72649484],
       [-0.08016696,  0.92361559, -0.89757154,  0.72649484],
       [-0.5142786 , -1.77112803, -0.07059551,  0.31279639],
       [-0.2662148 ,  0.35630115,  1.16986852, -0.92829896],
       [-0.57629454, -2.19661387,  1.99684454, -1.34199741],
       [-1.56854972, -0.77832775,  0.3428925 , -0.10090206],
       [ 0.53999253,  0.35630115, -0.48408353,  0.72649484],
       [ 0.10588089, -1.91295664,  0.3428925 , -1.34199741],
       [-1.13443808, -1.91295664, -0.07059551, -0.92829896],
       [ 1.22216796,  0.63995837, -0.48408353,  0.72649484],
       [ 1.16015201, -0.06918469, -0.07059551,  0.72649484]])

In [95]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()
model.fit(x_train,y_train)
model.score(x_train,y_train)
y_pred=model.predict(x_test)
y_pred

array([1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0])

In [96]:
model.score(x_train,y_train)

0.975609756097561

In [ ]:
model.score(x_test,y_test)

1.0

In [98]:
from sklearn.metrics import accuracy_score,confusion_matrix
print(accuracy_score(y_pred,y_test))

1.0

In [99]:
print(confusion_matrix(y_test,y_pred))

[[11  0]
 [ 0  7]]